# local
VITE_APP_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:8000/api/v1
VITE_IMAGE_BASE_URL=http://localhost:8001/foto-producto
VITE_FILE_BASE_URL=http://localhost:8001/archivo-producto

# production
# VITE_APP_URL=https://
# VITE_API_BASE_URL=https://
# VITE_IMAGE_BASE_URL=https://
# VITE_FILE_BASE_URL=https://